# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build_yamb:
    working_directory: ~/yamb
    docker:
      - image: circleci/openjdk:8-jdk  
    steps:
      - checkout
      - run: mvn clean install

  build_jekyll:
    working_directory: ~/yamb/docs
    docker:
      - image: circleci/ruby:2.5
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Bundle Install
          command: bundle check || bundle install
      - save_cache:
          keys: 
            - rubygems-v1-{{ checksym "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Jekyll Build
          command: bundle exec jekyll build
      - run:
          name: HTMLProofer tests
          command: |
            bundle exec htmlproofer ./_site \
              --allow-hash-href \
              --check-favicon  \
              --check-html \
              --disable-external
      - persist_to_workspace:
          root: ./
          paths:
            - _site
        
workflows:
  version: 2
  build:
    jobs:
      - build_yamb
      - build_jekyll
