# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/yamb
    docker:
      - image: circleci/openjdk:8-jdk  
    steps:
      - checkout
      - run: mvn clean install
